@import '_default.scss';

$mainMarginSmall: 120px;
$mainMarginBig: 290px;

aside {
    transition: width .2s linear;

    @include small {
        width: 100px;
    }

    li {
        &:nth-child(n + 2) {
            margin-top: 5px;
        }

        button {
            width: calc(50% - 5px * 2);

            @include big {
                .cut {
                    display: none;
                }
            }
            @include small {
                .long,
                .status {
                    display: none;
                }
            }

            span.status {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

main {
    transition: margin .2s linear, width .2s linear;

    @include big {
        margin-left: $mainMarginBig;
        width: calc(98% - #{$mainMarginBig});
    }
    @include small {
        margin-left: $mainMarginSmall;
        width: calc(98% - #{$mainMarginSmall});
    }

    #in {
        min-height: 150px;
        width: 100%;
    }
}
