@import '_default.scss';

$colorSelected: #00ffff;

main {
    position: relative;
}

.folder-select {
    align-content: space-around;
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    li {
        flex: auto;
        margin: 5px;
        padding: 3px;

        &.selected {
            font-weight: bold;
            color: $colorSelected;
        }

        label {
            display: block;
            text-align: center;

            input[type='radio'] {
                display: none;
            }
        }
    }
}

#listing {
    float: left;
    margin-right: 15%;
    max-width: 200px;

    li {
        border: 2px solid transparent;
        cursor: pointer;
        padding: 3px 0 3px 10px;

        &:nth-child(n + 2) {
            margin-top: 7px;
        }

        &:hover {
            box-shadow: 0 0 3px rgba(255,255,255, 0.6);
        }

        .name {
            display: block;
            font-size: 14px;
            font-weight: bold;
        }
        .date {
            color: #909090;
            display: block;
            font-size: 12px;
            font-style: italic;
            margin-top: 2px;
        }

        &.selected {
            border-color: $colorSelected;

            .name {
                color: $colorSelected;
            }
        }
    }
}

#popup {
    position: absolute;
    right: 0;
    top: 350px;

    &.off {
        display: none;
    }
}