@import './inc-default/button';
@import './inc-default/inputs';

html, body {
    background: #131313;
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
}

a {
    color: #27ab76;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #32e39c;
        text-decoration: underline;
    }
}

aside {
    background: #131313;
    height: 100%;
    left: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 270px;

    .aside__button {
        display: none;
    }
    /*
    .aside__button {
        border: none;
        border-radius: 7px;
        background: #27ab76;
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: 900;
        height: 25px;
        outline: none;
        width: 25px;

        &:before {
            content: '>';
        }

        &:hover {
            background: #32e39c;
        }

        @media (min-width: 751px) {
            display: none;
        }
    }
    */
}

fieldset {
    margin: 10px 0;

    legend {
        padding: 0 10px;
    }
}

label {
    cursor: pointer;
}

main {
     margin: 20px auto 0;
     min-width: 100px;
     max-width: 950px;
     width: 98%;
     transition: width .2s linear;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

pre {
    background: #333;
    border-left: 3px solid #7b00ff;
    font: 12px Courier, Helvetica, sans-serif;
    padding: 3px;
}

.template {
    display: none;
}