html, body {
    background: #131313;
    font-family: Arial, Helvetica, sans-serif;
    color: #DDD;
}

a {
    color: #27ab76;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #32e39c;
        text-decoration: underline;
    }
}

aside {
    height: 100%;
    left: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 250px;

    .aside__button {
        border: none;
        border-radius: 7px;
        background: #27ab76;
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: 900;
        height: 25px;
        outline: none;
        width: 25px;

        &:before {
            content: '>';
        }

        &:hover {
            background: #32e39c;
        }

        @media (min-width: 751px) {
            display: none;
        }
    }
}

main {
     margin: 20px auto 0;
     max-width: 950px;
     width: 98%;
     transition: width .2s linear;
}
